<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>


            <div class="detalleproducto">

                <section class="imagenproducto">
                    <img src= "/images/<%= productoEncontrado.image %>"
                        width="600px" alt="">
                </section>
                
                <div class="detallezapatilla">
                    <p><%= productoEncontrado.name %></p> <!--nuevo código Konrad-->
                    <p class="textozapatilla"><%= productoEncontrado.description %></p> <!--nuevo código Konrad-->
                    <p class="preciozapatillas"><%= productoEncontrado.price %></p> <!--nuevo código Konrad-->
                    <div class="controlesproducto">

                        

                        <i class="fas fa-plus-circle"></i><span class="numeroproductos"> 1 </span><i
                            class="fas fa-minus-circle"></i><input class="botonagregar" type="submit" value="AGREGAR">
                        <div class="divtalle">
                            <p class="talle">38</p>
                            <p class="talle">39</p>
                            <p class="talle">40</p>
                            <p class="talle">41</p>
                            <p class="talle">42</p>
                        </div>
                        
                    </div>


                    <div class="divtalle">
                        <p class="color1">38</p>
                        <p class="color2">39</p>
                        <p class="color3">40</p>
                        <p class="color4">41</p>
                        <p class="color5">42</p>
                    </div>
                    <div class="creacionproducto"><li><a  class="creacionproductotexto" href="/productos/crear">Crear producto</a></li></div>
                    <div class="creacionproducto"><li><a  class="creacionproductotexto" href="/productos/<%= productoEncontrado.id %>/editar">Editar producto</a></li></div>
                    <!-- <div class="creacionproducto"><li><a  class="creacionproductotexto" href="/productos/<%= productoEncontrado.id %>">Eliminar producto</a></li></div> -->
                    <form action="/productos/<%= productoEncontrado.id %>?_method=DELETE" method="POST" >
                        <div class="col-12">
                        <div class="creacionproducto">
                        <button type="submit"class="creacionproductotexto">ELIMINAR</button>
                        </div>


                </div>



            </div>

            <div class="redessociales">
                <p>Compartir vía</p>
                <p class="iconosredes"><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i
                        class="fab fa-facebook"></i></p>
            </div>

            <section class="parrafoinferior">

                <p class="titulardesc">
                <h3></h3>
                </p>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci nesciunt molestias sint sequi
                        deleniti alias aliquid ut nam laborum, corrupti vel, fuga velit cum ad, ipsa quidem libero vitae
                        quis.</p>
                </div>
            </section>

            <section class="propiedadeszapatilla">
                <p>Genero: ---------</p>
                <p>Material: ---------</p>
                <p>Origen: ---------</p>
                <p>Marca: ---------</p>
                <p>Composición: ---------</p>
            </section>


            <%- include('../partials/footer')%>


    </body>

</html>