<!-- Nuevo código Konrad-->

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>

        <div class="card2">

            <section class="form-register">
                <div>
                    <img src="/profileImages/<%= user.avatar %>" width="150px">
                </div>

                <h3>Hola <%= user.name %> <%= user.lastName %>! Bienvenid@ a Sports House!</h3>
                <p> <%= user.email%> </p>
        </div>
              

        

             

                

                



            </section>

            <%- include('./partials/footer')%>
       


    </body>

</html>