<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>


    <body>
        <%- include('./partials/header')%>
            <section class="form-register">

                <h3>FORMULARIO DE REGISTRO</h3>
              


                <form action="/usuarios/registro" method="post" enctype="multipart/form-data">
                    
                <!-- validation para nombre --konrad -->
                    <% if(locals.errors && errors.name) { %> 
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                <input class="controls" type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>" placeholder="Ingrese su nombre" > 

              <!-- validation para apellido --konrad -->
                <% if(locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %>
                    </div>
                <% } %>
                <input class="controls" type="text" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>"  placeholder="Ingrese su apellido">

              <!-- validation para email --konrad -->
                <% if(locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
                <% } %>
                <input class="controls" type="email" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="Ingrese su e-mail">



                <input class="controls" type="number" name="phone" placeholder=" Ingrese su teléfono">


                <!-- validation para contraseña --konrad -->
                <% if(locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                <input class="controls" type="password" name="password" value="<%= locals.oldData ? oldData.password : null %>" placeholder="Ingrese su contraseña">


                <input class="controls" type="password" name="password_confirm" placeholder="Confirme su contraseña">
                <input class="controls" type="file" name="imagenUsuario" placeholder="elegirImagen">
                <input class="button" type="submit" value="CREAR CUENTA">
                <a href="/formulariologin"><input class="button" type="submit" value="LOGIN"></a>
                </form> 
                <a href="/usuarios/login"><input class="button" type="submit" value="LOGIN"></a>

            </section>

            <%- include('./partials/footer')%>

    </body>

</html>